html,
body {
	min-height: 100vh;
	scroll-behavior: smooth;
}

body.menu-active {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1168px;
	margin: 0 auto;
	box-sizing: border-box;
}

.mobile-show {
	@include breakpoint(lg) {
		display: none !important;
	}
}

.tablet-show {
	@include breakpoint(lg, max) {
		display: none !important;
	}
}

.desktop-show {
	@include breakpoint(lg, max) {
		display: none !important;
	}
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

p {
	margin-bottom: 16px;
}

.main-text {
	margin-bottom: 35px;
}

#main {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 10px;
}

.sidebox {
	display: contents;
}

#sidebar {
	display: contents;

	.main-img {
		display: block;
		min-width: 100%;
		height: auto;
		order: -10;
		margin: 0 -10px 3px;
	}
}

#content {
	display: contents;
}

.content {
	&__title {
		order: -9;
	}
}

.author {
	order: -8;
}

.side-nav {
	order: -7;
}

.rated {
	order: 99;
}

.img-single {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 35px;
}

figure {
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

#footer {
	margin-top: 64px;
	border-top: var(--color-footer-border);
}

@include breakpoint(md) {
	#main {
		flex-direction: row;
		gap: 32px;
		padding: 0;
		margin: 0 auto;
		max-width: 750px;
	}

	#sidebar {
		flex: 1 0 35%;
		display: block;

		.main-img {
			margin: 0 0 35px;
		}
	}

	.sidebox {
		position: sticky;
		left: 0;
		top: 32px;
		max-height: calc(100vh - 32px);
		overflow: auto;
		display: block;
	}

	#content {
		display: block;
		max-width: calc(65% - 32px);
	}
}

@include breakpoint(lg) {
	#main {
		max-width: 968px;
		gap: 48px
	}

	#sidebar {
		flex: 1 0 25%;
	}

	#content {
		max-width: calc(75% - 48px);
	}
}

@include breakpoint(xl) {
	#main {
		max-width: 1168px;
	}
}