.list {
	padding: 38px 15px 20px;
	margin-bottom: 16px;

	li {
		margin-bottom: 10px;

		&:first-child {
			a {
				padding: 30px 18px 10px;
				border-color: var(--green3);

				&:hover {
					box-shadow: 0px 4px 8px 0px rgba(35, 171, 97, 0.25);
				}
			}
		}

		&.more {
			a {
				color: var(--color-link);
				font-weight: bold;
				display: block;
				font-size: 1.5rem;
				padding-bottom: 8px;
			}
		}
	}

	a {
		color: var(--color-text);
		position: relative;
		padding: 10px 18px 6px;
		border: var(--color-list-item-border);
		box-shadow: var(--color-list-item-shadow);
		border-radius: 6px;
		display: grid;
		gap: 10px 24px;
		grid-template: "image text"
						"status status";
		@include transition();

		&:hover {
			box-shadow: 0px 3px 8px 0px rgba(0, 105, 191, 0.25);
		}
	}

	img {
		height: auto;
		width: 90px;
		grid-area: image;
	}

	&__text-holder {
		grid-area: text;
		font-size: 1.5rem;
		line-height: 1.2;
	}

	&__title {
		display: inline-flex;
		gap: 5px;
		font-size: 1.7rem;
		color: var(--color-link);
		font-weight: bold;
		margin-bottom: 7px;

		&:hover {
			text-decoration: underline;

			.icon {
				background: var(--blue);
				color: var(--white);
			}
		}

		.icon {
			font-size: .9rem;
			line-height: 1;
			width: 16px;
			height: 16px;
			background: var(--blue4);
			color: var(--color-link);
			border-radius: 50%;
			text-align: center;
			align-content: center;
			@include transition();
		}
	}

	&__status {
		grid-area: status;
		text-align: center;
		color: var(--color-status);
		font-size: 1.5rem;

		.icon {
			margin-right: 5px;
		}
	}

	mark {
		position: absolute;
		top: 2px;
		font-size: 11px;
		font-weight: 700;
		letter-spacing: 0.195px;
		color: var(--white);
		line-height: 1;
		left: -7px;
		border-radius: 2px 0 0 2px;
		padding: 5px 10px 6px 11px;
		background: linear-gradient(90deg, #0f7940 5%, #228650 12%, #51a749 100%);

		&:before {
			content: "";
			width: 16px;
			height: 16px;
			background: linear-gradient(90deg, #0f7940 0%, #228650 20%, #51a749 70%);
			position: absolute;
			z-index: -1;
			top: 11px;
			right: 0;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 35% 50%);
			left: -9px;
			border-radius: 0 2px 2px 0;
		}

		&:after {
			content: "";
			width: 20px;
			height: 22px;
			background: #51a749;
			position: absolute;
			z-index: -1;
			top: 0px;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 40% 50%);
			right: -10px;
			border-radius: 0 2px 2px 0;
			transform: scaleX(-1);
		}

		span {
			&:after {
				content: "";
				position: absolute;
				border-style: solid;
				top: 21px;
				left: 0;
				border-width: 0 7px 7px 0;
				border-color: transparent #195d38 transparent transparent;
			}
		}
	}

	.text {
		display: block;
	}
}

@include breakpoint(md) {
	.list {
		&__text-holder {
			margin-bottom: 12px;
		}

		&__status {
			text-align: left;
			font-weight: bold;
			line-height: 1;
		}

		a {
			row-gap: 0;
			grid-template: "image text"
        					"image status";
		}
	}
}

@include breakpoint(lg) {
	.list {
		padding: 20px;

		li {
			&:first-child {
				a {
					padding: 10px 18px;
				}
			}

			&:not(:first-child):not(.more) {
				a {
					padding: 10px 18px;
					display: flex;
					align-items: center;
				}

				.list__text-holder {
					margin: 0;
				}
			}
		}

		mark {
			top: 5px;
			font-size: 13px;
			left: unset;
			right: -8px;
			border-radius: 0 2px 2px 0;
			padding: 5px 10px 8px 5px;
			background: linear-gradient(90deg, #51a749 40%, #228650 100%, #0f7940 10%);

			&:before {
				width: 20px;
				height: 20px;
				top: 13px;
				left: unset;
				right: -13px;
				transform: scaleX(-1);
				border-radius: 2px 0 0 2px;
			}

			&:after {
				width: 25px;
				height: 26px;
				right: unset;
				left: -19px;
				border-radius: 2px 0 0 2px;
				transform: none;
			}

			span {
				&:after {
					top: 25px;
					right: 0px;
					left: unset;
					border-width: 7px 7px 0 0;
					border-color: #195d38 transparent transparent transparent;
				}
			}
		}
	}
}